:root{
    ---color-header:#B7CADB;
    ---color-text:#fff;
    ---color-github:black;
    ---color-twitter:black;
    ---color-linkedin:blue;
    ---color-instagram:rgb(148, 78, 159);
    ---color-button:#5B9A8B;
    ---color-body-background:#252B48;
    ---color-section-home-text:#252B48;
    ---color-about-background:#445069;
    ---color-Experience-background:#56678c;
}